{% extends 'home/baseProduct.html' %}

{% block productcss %}
<link rel="stylesheet" href="/static/css/editProduct.css">
<link rel="stylesheet" href="/static/css/editProfile.css">
{% endblock productcss %}

{% block productContainer %}
<div class="productAddContainer">
    <form action="/mydashboard/editpassword" class="productAddForm" method="POST">
        {% csrf_token %}
        <div class="oldPassword productAdd">
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
            <span id="oldPasswordError" class="errorText"></span>
        </div>
        <div class="name">
            <div class="newPassword productAdd">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <span id="newPasswordError" class="errorText"></span>
            </div>
            <div class="newPass2 productAdd">
                <label for="newPass2">Re-enter New Password</label>
                <input type="password" id="newPass2" name="newPass2" required>
                <span id="newPass2Error" class="errorText"></span>
            </div>
        </div>
        <div class="updateDate">
            <span>Last login at: {{ request.user.last_login }}</span>
        </div>
        <div class="productAddButtons">
            <input id="productSave" type="submit" class="button" value="Save">
        </div>
    </form>
</div>
{% endblock productContainer %}

{% block productscript %}
<script src="/static/js/editPassword.js"></script>
{% endblock productscript %}