{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/portfolio.css">
{% endblock css %}

{% block title %}Portfolio | RRGraphics{% endblock title %}


{% block bodyContent %}
<section id="main" class="main_container">
    <div class="container">
        <div class="main_text">
            <h1>I'm Rakesh Middya<br>A Graphics-video Editor</h1>
            <span>Do check my works from <a href="/">RRGraphics</a></span>
        </div>
    </div>
</section>
{% endblock bodyContent %}